DATABASE_URL=mysql+pymysql://usuario:senha@localhost:3306/sicat
SECRET_KEY=sua-chave-secreta-aqui-altere-em-producao
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_HOURS=72
SUAP_API_URL=https://suap.ifrn.edu.br

